body {
  background-color: green;
  box-sizing: border-box;
}

.card {
  text-align: center;
  margin: auto;
  background: white;
  height: 560px;
  width: 400px;
  padding: 20px;
  margin-top: 170px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
  font-size: 100px;
  .top-suit {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .botton-suit {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
.number {
  display: inline-block;
  margin-top: 185px;
  font-size: 125px;
  text-align: center;
}

.♦ {
  color: red;
}

.♥ {
  color: red;
}
