body {
  background-color: green;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  margin: auto;
  background: white;
  height: 200px;
  width: 250px;
  padding: 20px;
  padding-top: 200px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
}

.top-suit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 75px;
}

.number {
  font-size: 75px;
  text-align: center;
}

.botton-suit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 75px;
}
